.posts {    
    display: flex;
    margin: 20px 0;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;  
    padding: 2px;  
    position: relative;
}
.profile {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.profile img {
    width: 100%;
}
.postsArea {
    display: flex;
    flex-direction: column;  
    padding: 5px;  
    flex: 1;        
}
.postsArea h4 {
    margin: 10px 0;
}
.like {
    font-size: 35px;        
    cursor: pointer;
    position: absolute;
    right: 10px;    
}
.like:hover {
    color: #f00;         
}