.section {
    display: flex;
    padding-top: 10px;
}
.profile {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile img {
    width: 80%;
}
.newPost {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.newPost input {
    width: 100%;    
}
.newPost textarea {
    width: 100%;
    height: 100%;
    resize: none;
    margin: 10px 0;
}
.newPost button {
    width: 100%;    
    background-color: #ddd;
}